* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13%;
}

.button_description {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button_description-default {
  color: #999999;
}

.button_description-hover {
  color: #b3b3b3;
}

.button_description-active {
  color: #b8b8b8;
}

h2 {
  font-weight: 700;
  color: #5a5a5a;
  margin-top: 55px;
  margin-bottom: 35px;
}

#button_default-primary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #6dc5ff;
  color: #ffffff;
  font-size: 15px;
}

#button_default-secondary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ffa75e;
  color: #ffffff;
  font-size: 15px;
}

#button_default-success {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #12ea12;
  color: #ffffff;
  font-size: 15px;
}

#button_default-danger {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f97474;
  color: #ffffff;
  font-size: 15px;
}

#button_default-warning {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f1f146;
  color: #ffffff;
  font-size: 15px;
}

#button_default-info {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #62d3b9;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-primary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #3ab1ff;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-secondary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ff8b2b;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-success {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #0ebb0e;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-danger {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f74343;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-warning {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #eded17;
  color: #ffffff;
  font-size: 15px;
}

#button_hover-info {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #3ac8a7;
  color: #ffffff;
  font-size: 15px;
}

#button_active-primary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #079cff;
  color: #ffffff;
  font-size: 15px;
}

#button_active-secondary {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f77000;
  color: #ffffff;
  font-size: 15px;
}

#button_active-success {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #0b8b0b;
  color: #ffffff;
  font-size: 15px;
}

#button_active-danger {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #f51212;
  color: #ffffff;
  font-size: 15px;
}

#button_active-warning {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #c2c20f;
  color: #ffffff;
  font-size: 15px;
}

#button_active-info {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #2da287;
  color: #ffffff;
  font-size: 15px;
}

.tabs__container {
  margin-top: 50px;
  margin-left: 8%;
}
.tabs__container .tabs-line__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
}
.tabs__container .tabs-line__container > .tab-line-label:hover {
  color: #000000;
}
.tabs__container .tabs-line__container > .tab__input:checked + .tab-line-label {
  color: #000000;
  border-width: 2px;
}
.tabs__container .tabs-line__container > .tab__input:checked + .tab-wide-label {
  color: #ffffff;
}
.tabs__container .tabs-wide__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.tabs__container .tabs-wide__container > .tab-wide-label {
  padding: 10px 20px;
  margin: 0;
  font-size: 14px;
  color: #b4b4b4;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-top: none;
}
.tabs__container .tabs-wide__container > .tab-wide-label:hover {
  color: #000000;
}
.tabs__container .tabs-wide__container > .tab-wide-label:nth-child(2) {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tabs__container .tabs-wide__container > .tab-wide-label:last-child {
  border-right: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tabs__container .tabs-wide__container > .tab-wide-label:not(:last-child) {
  border-right: none;
}
.tabs__container .tabs-wide__container > .tab__input:checked + .tab-wide-label {
  color: #ffffff;
}

.green__tabs__container,
.red__tabs__container {
  display: inline-block;
}

.tabs-line__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
}

.tab__input {
  display: none;
}

.tab-line-label {
  padding: 10px 20px;
  margin: 0;
  font-size: 14px;
  color: #b4b4b4;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.green__tabs__container > .tabs-line__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
}
.green__tabs__container > .tabs-line__container > .tab__input:checked + .tab-line-label {
  border-color: #5bc286;
}
.green__tabs__container > .tabs-line__container > .tab__input:checked + .tab-wide-label {
  background-color: #5bc286;
}
.green__tabs__container > .tabs-wide__container > .tab__input:checked + .tab-wide-label {
  background-color: #5bc286;
}

.red__tabs__container {
  margin-left: 12%;
}
.red__tabs__container > .tabs-line__container > .tab__input:checked + .tab-line-label {
  border-color: #ec5c5c;
}
.red__tabs__container > .tabs-wide__container > .tab__input:checked + .tab-wide-label {
  background-color: #ec5c5c;
}