@import 'vars';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'extends';
@import 'color-matrix';

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13%;
}
.button_description {
    font-weight: $description_weight;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button_description-default {
    color: $button_description_color-default;
}
.button_description-hover {
    color: $button_description_color-hover;
}
.button_description-active {
    color: $button_description_color-active;
}
h2 {
    font-weight: $titles_weight;
    color: $titles_color;
    margin-top: 55px;
    margin-bottom: 35px;
}
#button_default-primary {
    @include button_default($button_default_primary-color, $button_text-color);
}
#button_default-secondary {
    @include button_default($button_default_secondary-color, $button_text-color);
}
#button_default-success {
    @include button_default($button_default_success-color, $button_text-color);
}
#button_default-danger {
    @include button_default($button_default_danger-color, $button_text-color);
}
#button_default-warning {
    @include button_default($button_default_warning-color, $button_text-color);
}
#button_default-info {
    @include button_default($button_default_info-color, $button_text-color);
}
#button_hover-primary {
    @include button_default($button_hover_primary-color, $button_text-color);
}
#button_hover-secondary {
    @include button_default($button_hover_secondary-color, $button_text-color);
}
#button_hover-success {
    @include button_default($button_hover_success-color, $button_text-color);
}
#button_hover-danger {
    @include button_default($button_hover_danger-color, $button_text-color);
}
#button_hover-warning {
    @include button_default($button_hover_warning-color, $button_text-color);
}
#button_hover-info {
    @include button_default($button_hover_info-color, $button_text-color);
}
#button_active-primary {
    @include button_default($button_active_primary-color, $button_text-color);
}
#button_active-secondary {
    @include button_default($button_active_secondary-color, $button_text-color);
}
#button_active-success {
    @include button_default($button_active_success-color, $button_text-color);
}
#button_active-danger {
    @include button_default($button_active_danger-color, $button_text-color);
}
#button_active-warning {
    @include button_default($button_active_warning-color, $button_text-color);
}
#button_active-info {
    @include button_default($button_active_info-color, $button_text-color);
}

.tabs__container {
    margin-top: 50px;
    margin-left: 8%;
    .tabs-line__container {
        @include tabs-container();
        > .tab-line-label:hover {
            color: $tab-checked-hover-color;
        }
        > .tab__input:checked + .tab-line-label {
            color: $tab-checked-hover-color;
            border-width: 2px;
        } 
        > .tab__input:checked + .tab-wide-label {
            color: $tab-label_background-color;
        } 
    }
    .tabs-wide__container {
        @include tabs-container();
        border: 1px solid #dddddd;
        > .tab-wide-label {
            @include tab-label();
            border: $tab-label_border-color;
            border-bottom: $tab-wide-label-border; 
            border-top: $tab-wide-label-border;
        }
        > .tab-wide-label:hover {
            color: $tab-checked-hover-color;
        }
        > .tab-wide-label:nth-child(2) {   
            border: $tab-wide-label-border;
            @include tab-wide-label_bradius_first-tab();
        }
        > .tab-wide-label:last-child {
            border-right: $tab-wide-label-border;
            @include tab-wide-label_bradius_last-tab();
        }
        > .tab-wide-label:not(:last-child) {
            border-right: $tab-wide-label-border;
        } 
        > .tab__input:checked + .tab-wide-label {
            color: $tab-label_background-color;
        } 
    
    }
}
.green__tabs__container,
.red__tabs__container {
    display: inline-block;
}
.tabs-line__container {
    @include tabs-container();
}
.tab__input {
    display: none;
}
.tab-line-label {
    @include tab-label();
}
.green__tabs__container {
    > .tabs-line__container {
        @include tabs-container();
        > .tab__input:checked + .tab-line-label {
            border-color: $green__tabs-color;
        } 
        > .tab__input:checked + .tab-wide-label {
            background-color: $green__tabs-color;
        } 
    }
    > .tabs-wide__container {
        > .tab__input:checked + .tab-wide-label {
            background-color: $green__tabs-color;
        } 
    }
}
.red__tabs__container {
    margin-left: 12%;
    > .tabs-line__container {
        > .tab__input:checked + .tab-line-label {
            border-color: $red__tabs-color;
        }        
    }  
    > .tabs-wide__container {
        > .tab__input:checked + .tab-wide-label {
            background-color: $red__tabs-color;
        } 
    } 
}