@import 'vars';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'extends';
@import 'color-matrix';

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13%;
}
.button_description{
    font-weight: $description_weight;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button_description-default{
    color: $button_description_color-default;
}
.button_description-hover{
    color: $button_description_color-hover;
}
.button_description-active{
    color: $button_description_color-active;
}
h2{
    font-weight: $titles_weight;
    color: $titles_color;
    margin-top: 55px;
    margin-bottom: 35px;
}
#button_default-primary{
    @include button_default($button_default_primary-color, white);
}
#button_default-secondary{
    @include button_default($button_default_secondary-color, white);
}
#button_default-success{
    @include button_default($button_default_success-color, white);
}
#button_default-danger{
    @include button_default($button_default_danger-color, white);
}
#button_default-warning{
    @include button_default($button_default_warning-color, white);
}
#button_default-info{
    @include button_default($button_default_info-color, white);
}
#button_hover-primary{
    @include button_default($button_hover_primary-color, white);
}
#button_hover-secondary{
    @include button_default($button_hover_secondary-color, white);
}
#button_hover-success{
    @include button_default($button_hover_success-color, white);
}
#button_hover-danger{
    @include button_default($button_hover_danger-color, white);
}
#button_hover-warning{
    @include button_default($button_hover_warning-color, white);
}
#button_hover-info{
    @include button_default($button_hover_info-color, white);
}
#button_active-primary{
    @include button_default($button_active_primary-color, white);
}
#button_active-secondary{
    @include button_default($button_active_secondary-color, white);
}
#button_active-success{
    @include button_default($button_active_success-color, white);
}
#button_active-danger{
    @include button_default($button_active_danger-color, white);
}
#button_active-warning{
    @include button_default($button_active_warning-color, white);
}
#button_active-info{
    @include button_default($button_active_info-color, white);
}